/*  your css code here. If applicable */
*{
  background-color: #cccccc;
}
h1,h2{
	text_align:centre;
}
.player_one{
	background-color:white;
	border:1px solid black;
	border-radius:10px;
	padding:20px;
}
li{
	background-color:white;
}
a{
	text-decoration:none;
}
.player-two{
	padding:10px;
	background-color:white;
	border:1px solid black;
	display:flax;
	flex-direction:column;
	width:500px;
	justify-content:space-around;
	align-items:centre;
	margin-left:500px;
	margin:auto;
	border-radius:10px;
}